<div class=" d-flex flex-column justify-content-center align-items-center min-h py-5">
  <div class="mb-5">
  <img src="images/logo.png" alt="imagem da logo" class="img-size">
  </div>
  <section class= " container bg-color py-5 mb-5 rounded-3 shadow-sm">
    <div class="container text-center py-5">
      <h1 class="display-4 fw-boldf text-white mb-3">Transforme Vidas com um Gesto</h1>
      <p class="lead  mb-4 mx-auto max-w text-white">
        O <strong>DoarMais</strong> simplifica a doação de alimentos, organizando o estoque para que
        cada item chegue à mesa de quem mais precisa.
      </p>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a routerLink="/cadastro" class="btn btn-color btn-lg px-4 gap-3 shadow"
        >COMECE A <strong>DOAR</strong></a
      >
      <a routerLink="/login" class="btn btn-color-secondary btn-outline-secondary btn-lg px-4"
        >Já tenho conta</a
      >
    </div>
  </section>
  <div class="container mb-5">
    <div class="row g-5">
      <div class="col-md-4">
        <div class="card h-100 border-0 shadow-sm text-center p-4">
          <div class="card-body">
            <div class="displya-5 text-primary mb-3">
              <i class="bi bi-heart-pulse-fill display-4"></i>
            </div>
            <h3 class="fw-bold h5">Doe Alimentos</h3>
            <p class="text-muted small">
              Recebemos itens individuais (arroz, feijão, óleo) e os organizamos em nosso banco de
              dados.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100 border-0 shadow-sm text-center p-4">
          <div class="card-body">
            <div class="displya-5 text-primary mb-3">
              <i class="bi bi-box-seam-fill display-4"></i>
            </div>
            <h3 class="fw-bold h5">Montagem de Cestas</h3>
            <p class="text-muted small">
              Nosso sistema calcula automaticamente quantas cestas completas podemos formar com o
              estoque atual.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100 border-0 shadow-sm text-center p-4">
          <div class="card-body">
            <div class="displya-5 text-primary mb-3">
              <i class="bi bi-people-fill display-4"></i>
            </div>
            <h3 class="fw-bold h5">Impacto Social</h3>
            <p class="text-muted small">
              Transparência total: saiba exatamente para onde vai sua doação e o total de famílias
              atendidas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
